{% extends 'base.html' %}
{% block title %}
  Home
{% endblock title %}

{% block body %}
  <div class="container-fluid banner about">
    <div class="row">
      <div class="col-sm-6 text-light">
        <h1>About Us</h1>  
        <p>The main purpose of our project is to make Credit Card Fraud Detection to aware people of credit card online frauds. With this system, fraudsters don't have the chance to make multiple transactions on a stolen or counterfeit card before the cardholder is aware of the fraudulent activity. This model is then used to identify whether a new transaction is fraudulent or not. Our aim here is to detect maximum fraudulent transactions while minimizing the incorrect fraud classifications. Moreover, we implemented our proposed framework on a synthetic credit card fraud dataset to validate the results that were obtained on the 
             European credit card fraud dataset. In future works, we intend to use more datasets to validate our framework.</p>
      </div>
      <div class="col-sm-6">
        <img src="../static/images/cc.png" alt="">
      </div>
    </div>
  </div>
{% endblock body %}