{% extends 'base.html' %}
{% block title %}
  Home
{% endblock title %}

{% block body %}
  <div class="container-fluid banner">
    <div class="row">
      <div class="col-md-8 offset-md-2 info">
        <h1 class="text-center mb-2">OOPS!!<span style="color: #fff;"> A Malicious Transaction is Observed From Your Credit Card!! Please Call The Bank For Immediate Action</span></h1>
        <a href="/" class="btn btn-danger bg-danger btn-md text-center">HOME</a>
      </div>
    </div>
  </div>
{% endblock body %}