{% extends 'base.html' %}
{% block title %}
  Login
{% endblock title %}

{% block body %}
<div class="container-fluid form">
    <form method="POST" class="login-form" id="user-form" action="/changepassword">
        <img src="../static/images/profile-pic.svg" class="mb-2">
        <h2 class="mb-5 neon-text">CHANGE PASSWORD</h2>
        <input type="text" class="username my-2" id="txtUserName" name="phoneno" placeholder="Enter Phone No..."><br>
        <input type="password" class="password my-2" id="txtPassword" name="newpassword" placeholder="Enter New Password"><br>
        <a href = "#" id="btnLogin">
            <button type="submit" class="submit-btn mt-4 mb-4">RENDER</button> 
        </a><br>
    </form>
</div>
{% endblock body %}