{% extends 'base.html' %}
{% block title %}
  Home
{% endblock title %}

{% block body %}
  <div class="container-fluid banner">
    <div class="row">
      <div class="col-md-8 offset-md-2 info">
        <h1 class="text-center mb-2">DETECTING<span style="color: #fff;"> THE FRAUD</span></h1>
        <p class="text-center sub-head anim-typewriter">
          Early detection prevents loss.
        </p>
        <a href="/login" class="btn btn-md text-center">LOGIN</a>
      </div>
    </div>
  </div>
{% endblock body %}