{% extends 'base.html' %}
{% block title %}
  Home
{% endblock title %}

{% block body %}
  <div class="container-fluid banner">
    <div class="row">
      <div class="col-md-8 offset-md-2 info">
        <h1 class="text-center mb-2" style="color: rgb(46, 222, 102);">CONGRATULATIONS!!</h1>
        <h2 class="text-center mb-4" style="color: rgb(46, 222, 102);">Your Password has been changed successfully!!</h2>
        <a href="/login" class="btn btn-md text-center mt-5" style="background-color: rgb(40, 197, 90);">CLICK HERE TO LOGIN</a>
      </div>
    </div>
  </div>
{% endblock body %}