{% extends 'base.html' %}
{% block title %}
  Home
{% endblock title %}

{% block body %}
  <div class="container-fluid banner">
    <div class="row">
      <div class="col-md-8 offset-md-2 info">
        <h1 class="text-center mb-2" style="color: rgb(46, 222, 102);">CONGRATULATIONS!! <span style="color: #fff;"> PAYMENT RECEIVED</span></h1>
        <a href="/" class="btn btn-md text-center" style="background-color: rgb(40, 197, 90);">HOME</a>
      </div>
    </div>
  </div>
{% endblock body %}